@mixin vertical-hr($value) {

  -ms-transform:rotate($value); /* IE9 */
  -moz-transform: rotate($value);  /* FF3.5/3.6 */
  -o-transform: rotate($value);  /* Opera 10.5 */
  -webkit-transform: rotate($value);  /* Saf3.1+ */
  transform: rotate($value);  /* Newer browsers */


}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

@mixin trans($val) {
  -webkit-transition: $val;
  -moz-transition: $val; 
  -o-transition: $val; 
  transition: $val; 
}



@mixin font-antialiasing {

 -moz-font-smoothing: antialiased;
 -o-font-smoothing: antialiased;
 font-smoothing: antialiased;
 text-rendering: optimizeLegibility;

} 

@mixin backface-visibility($arguments) {
  -webkit-backface-visibility: $arguments;
     -moz-backface-visibility: $arguments;
      -ms-backface-visibility: $arguments;
       -o-backface-visibility: $arguments;
          backface-visibility: $arguments;
}

@mixin  webkit-appearance {
        
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

@mixin webkit-user-select  {

	-webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;

    }

@mixin center-block {
  
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

@mixin translate($x, $y, $z) {

-webkit-transform:translate3d($x, $y, $z);
  -moz-transform:translate3d($x, $y, $z);
  -ms-transform:translate3d($x, $y, $z);
  -o-transform:translate3d($x, $y, $z);
  transform:translate3d($x, $y, $z);
}

@mixin rotate($x) {
  -webkit-transform: rotate($x);
  -moz-transform: rotate($x);
  -o-transform: rotate($x);
  transform: rotate($x);
}



@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// Requires inline-block or block for proper styling
@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin reset-li($indent) {

  list-style-position: inside;
  text-indent:$indent;

}

@mixin letter-spacing($space) {

letter-spacing: $space;

}

@mixin box-shadow-cross($box-shadow,$box-shadow2) {

      -webkit-box-shadow:$box-shadow,$box-shadow2;
      -moz-box-shadow:$box-shadow,$box-shadow2;
      box-shadow:$box-shadow,$box-shadow2;
    }


@mixin box-shadow ($level) {

    @if $level == 1 {
      @include box-shadow-cross(0 1px 0px rgba(2, 2, 2, 0), 0 0px 6px rgba(2, 2, 2, 0.12));
    
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(2,2,2,0.16), 0 3px 6px rgba(2,2,2,0.23);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(2,2,2,0.19), 0 6px 6px rgba(2,2,2,0.23);
    } @else if $level == 4 {
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(2,2,2,0.30), 0 15px 12px rgba(2,2,2,0.22);
    }
    @else if $level == 6 {
      box-shadow:0 2px 1rem rgba(0, 0, 0, 0.08);
     }
      @else if $level == 7 {
        box-shadow:0 0 1rem rgba(0, 0, 0, 0.1);
    }
    // main pages listing shadow 
    @else if $level == 8 {
      box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  }
    
   
    

}

@mixin fls-button-theme($btn-color) {

  background-color: $btn-color;
  &:hover {
    background-color: darken($btn-color, 10%);
    
  }

}


//Home Page Secondary Navigation 
@mixin secondary-button-theme($bg-color) {

    background-color: $bg-color;
    &:hover {
        background-color: darken($bg-color, 10%);
        
        &::after {

            border-color:lighten($bg-color, 10%);
        }
    }
    a {
        &::after {
            border:2px dashed darken($bg-color, 20%);
        }
    }
}








//Responsive Mixins
$small-mobile-width:  425px;
$mobile-width:  600px;
$mobile-landscape: 680px;
$tablet-width:  768px;
$laptop-width:  990px;
$medium-desktop-width: 1160px;
$grid-1200: 1200px;
$grid-1024: 1024px;
$desktop-width: 1366px;
$desktop-full: 1600px;

$phablet: 680px;

@mixin desktopFull {
  @media screen and (max-width:$desktop-full) {
    @content;
  }
}

@mixin phablet {
  @media screen and (max-width:$phablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width:$desktop-width) {
    @content;
  }
}

@mixin grid-1200 {
  @media screen and (max-width:$grid-1200) {
    @content;
  }
}

@mixin grid-1024 {
  @media screen and (max-width:$grid-1024) {
    @content;
  }
}

@mixin mediumDesktop {
  @media screen and (max-width: $medium-desktop-width) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: $laptop-width) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet-width) {
    @content;
  }
}

@mixin mobileLandscape {
  @media screen and (max-width:$mobile-landscape) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin small-mobile {
  @media screen and (max-width: $small-mobile-width) {
    @content;
  }
}












/* FLEX BOX */
// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
      -ms-flex: $values;
          flex: $values;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
     -moz-flex-flow: $flow;
      -ms-flex-flow: $flow;
          flex-flow: $flow;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
     -moz-box-ordinal-group: $val;     
         -ms-flex-order: $val;     
          -webkit-order: $val;  
            order: $val;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
     -moz-flex-grow: $grow;
      -ms-flex-grow: $grow;
          flex-grow: $grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number> 
@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
     -moz-flex-shrink: $shrink;
      -ms-flex-shrink: $shrink;
          flex-shrink: $shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width> 
@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
     -moz-flex-basis: $width;
      -ms-flex-basis: $width;
          flex-basis: $width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around 
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch 
@mixin align-content($align) {
  -webkit-align-content: $align;
     -moz-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch 
@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
       -ms-flex-align: $align;
          align-items: $align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch 
@mixin align-self($align) {
  -webkit-align-self: $align;
     -moz-align-self: $align;
      -ms-align-self: $align;
          align-self: $align;
}