body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

header {
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

*:focus {
    outline: none!important;
}

img {
  max-width: 100%;
  width: 100%;
}
