/*=============================================
=            Colors                  =
=============================================*/
/*=============================================
=            END: Colors                  =
=============================================*/
/*=============================================
=                 Font sizes                 =
=============================================*/
/*=============================================
=                 END: Font sizes                 =
=============================================*/
/* BASE STYLES */
/* FLEX BOX */
body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif; }

header {
  padding: 0; }

a {
  text-decoration: none; }

ul {
  padding: 0;
  list-style: none; }

*:focus {
  outline: none !important; }

img {
  max-width: 100%;
  width: 100%; }

h1 {
  font-size: 35px;
  line-height: 45px;
  color: #003F6F;
  font-weight: bold;
  letter-spacing: 0.53px;
  margin: 0; }

h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  color: #003F6F;
  margin: 0; }

h3 {
  font-size: 19px;
  color: #3A3A3A;
  line-height: 32px;
  margin: 0;
  font-weight: 400; }

h4 {
  font-size: 12px;
  letter-spacing: 0.30px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  margin: 0; }

p {
  font-size: 16px;
  line-height: 28px;
  color: #3A3A3A;
  margin: 0; }

@media screen and (max-width: 990px) {
  .content h1 {
    font-size: 30px;
    line-height: 40px; } }

@media screen and (max-width: 600px) {
  .content h1 {
    font-size: 27px;
    line-height: 40px; } }

/* LAYOUTS */
/*=============================================
=       Inko Versand Basic Framework              =
=============================================*/
.grid-1280, .grid-5, .grid-10, .grid-15, .grid-20, .grid-25, .grid-30, .grid-33, .grid-35, .grid-40, .grid-45, .grid-50, .grid-55, .grid-60, .grid-65, .grid-66, .grid-70, .grid-75, .grid-80, .grid-85, .grid-90, .grid-95, .grid-100, .grid-960, .grid-1160 {
  position: relative; }

/** GLOBAL GRID SIZES **/
.grid-5 {
  width: 5%; }

.grid-10 {
  width: 10%; }

.grid-15 {
  width: 15%; }

.grid-20 {
  width: 20%; }

.grid-25 {
  width: 25%; }

.grid-30 {
  width: 30%; }

.grid-33 {
  width: 33.33333%; }

.grid-35 {
  width: 35%; }

.grid-40 {
  width: 40%; }

.grid-45 {
  width: 45%; }

.grid-50 {
  width: 50%; }

.grid-55 {
  width: 55%; }

.grid-60 {
  width: 60%; }

.grid-65 {
  width: 65%; }

.grid-66 {
  width: 66.66666%; }

.grid-70 {
  width: 70%; }

.grid-75 {
  width: 75%; }

.grid-80 {
  width: 80%; }

.grid-85 {
  width: 85%; }

.grid-90 {
  width: 90%; }

.grid-95 {
  width: 95%; }

.grid-100 {
  width: 100%; }

.grid-25-margin {
  width: 25%;
  margin: 0 auto; }

.padding-70-50 {
  padding: 70px 50px; }

section {
  position: relative; }

.grid-600 {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.grid-680 {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.grid-750 {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.grid-800 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.grid-960-32 {
  max-width: 960px;
  margin-left: 32.5%;
  margin-right: auto;
  width: 100%; }

.grid-960 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.grid-1060 {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.grid-1200 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.grid-1280 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.grid-1380 {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.grid-50-percent {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.mv__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mv__wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.mv__sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.mv__se {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.mv__sa {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.mv__ac {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.mv__ast {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.mv__jcc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.mv__jce {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.mv__end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.mv__dc {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.order-1 {
  order: 1; }

.order-0 {
  order: 0; }

.p-20 {
  padding: 20px; }

.p-bottom-10 {
  padding-bottom: 10px; }

.p-bottom-30 {
  padding-bottom: 30px; }

.p-top-60 {
  padding-top: 60px; }

.p-top-50 {
  padding-top: 50px; }

.p-bottom-50 {
  padding-bottom: 50px; }

.m-top-40 {
  margin-top: 40px; }

.m-top-100 {
  margin-top: 100px; }

.m-bottom-100 {
  margin-bottom: 100px; }

.z-index-100 {
  z-index: 100; }

.mt-100 {
  margin-top: 100px; }

.mb-0 {
  margin-bottom: 0 !important; }

.f-dir-column {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-ordinary {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.f-align-center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.display-block {
  display: block !important; }

.visible-sub-menu {
  max-height: 500px !important;
  margin-top: 22px; }

.active-submenu {
  display: block; }

.bullets-list ul li {
  position: relative; }
  .bullets-list ul li:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    left: 0;
    top: 7px;
    border-radius: 100%;
    background-color: #003F6F; }

.line-title-div {
  position: relative; }
  .line-title-div:before {
    content: '';
    position: absolute;
    bottom: 15px;
    right: 0;
    width: 40px;
    height: 4px;
    left: 0;
    background-color: #E82218;
    border-radius: 10px; }

.line-div-top {
  position: relative; }
  .line-div-top:before {
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    width: 40px;
    height: 4px;
    left: 0;
    background-color: #E82218;
    border-radius: 10px; }

.line-title h1 {
  position: relative; }
  .line-title h1:before {
    content: '';
    position: absolute;
    bottom: 25px;
    right: 0;
    width: 40px;
    height: 4px;
    left: 0;
    margin: 0 auto;
    background-color: #E82218;
    border-radius: 10px; }

.line-title-left h1 {
  position: relative;
  padding-bottom: 30px; }
  .line-title-left h1:before {
    content: '';
    position: absolute;
    bottom: 15px;
    right: 0;
    width: 40px;
    height: 4px;
    left: 0;
    background-color: #E82218;
    border-radius: 10px; }

.line-title-h2 h2:before {
  content: '';
  position: absolute;
  bottom: 25px;
  width: 40px;
  height: 4px;
  left: 0;
  background-color: #E82218;
  border-radius: 10px; }

.footer-line:before {
  content: '';
  position: absolute;
  bottom: 25px;
  width: 40px;
  height: 4px;
  left: 0;
  background-color: #FFFFFF;
  border-radius: 10px; }

.line-brake {
  position: relative;
  padding: 30px 0; }
  .line-brake:before {
    content: '';
    position: absolute;
    right: 0;
    width: 40px;
    height: 4px;
    left: 0;
    background-color: #E82218;
    border-radius: 10px; }

/*=============================================
=           1. Page Home                    =
=============================================*/
.content {
  /*=============================================
	=           END:; 1. Page Home                =
	=============================================*/
  /*=============================================
	=           2. Blog - Aktuelles         	 =
	=============================================*/
  /*=============================================
	=           END:; 2. Blog - Aktuelles         =
	=============================================*/ }
  .content .slider .swiper-pagination-bullet {
    background: #E5EBF0;
    opacity: 1;
    width: 12px !important;
    height: 12px !important; }
  .content .slider .swiper-pagination-bullet-active {
    background: #FFFFFF;
    opacity: 1; }
  .content .slider .slide__text {
    position: absolute;
    background: #FFFFFF;
    width: 30%;
    right: 75px;
    text-align: left;
    padding: 30px;
    word-wrap: break-word; }
    .content .slider .slide__text h1 {
      margin-bottom: 10px; }
  .content .slider .swiper-container {
    width: 100%;
    height: 100%; }
  .content .slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .content .slider .swiper-pagination-bullet {
    margin: 0 5px !important; }
  .content .description__page {
    padding: 100px;
    text-align: center; }
    .content .description__page h1 {
      padding-bottom: 55px;
      position: relative;
      width: 100%;
      margin: 0 auto; }
  .content .description-information .description-image {
    position: relative; }
    .content .description-information .description-image .description-image__title {
      position: absolute;
      background: #FFFFFF;
      right: 75px;
      text-align: left;
      padding: 30px;
      word-wrap: break-word; }
  .content .description-information .breadcrumb {
    background-color: #E5EBF0;
    padding: 40px 30px; }
    .content .description-information .breadcrumb p {
      font-size: 16px;
      line-height: 0.30px; }
      .content .description-information .breadcrumb p a {
        color: #003F6F; }
        .content .description-information .breadcrumb p a:first-child {
          color: #6D6F72; }
          .content .description-information .breadcrumb p a:first-child:hover {
            color: #003F6F; }
  .content .impressum ul {
    margin: 20px 0 20px 30px; }
    .content .impressum ul li {
      color: #6D6F72;
      font-size: 16px;
      margin-bottom: 15px;
      padding-left: 10px; }
  .content .impressum p a {
    color: #003F6F; }
  .content .page__content {
    margin-top: 115px;
    margin-bottom: 115px; }
    .content .page__content.providers, .content .page__content.contact, .content .page__content.topic {
      margin-top: 15px !important; }
    .content .page__content .icons-services ul {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
      .content .page__content .icons-services ul li {
        width: 12%;
        margin: 10px 10px 40px 10px;
        position: relative; }
        .content .page__content .icons-services ul li span {
          display: none; }
        .content .page__content .icons-services ul li:hover {
          background-color: #003F6F;
          border-radius: 50%;
          opacity: 1;
          -webkit-transition: background-color 0.3s linear;
          -ms-transition: background-color 0.3s linear;
          transition: background-color 0.3s linear; }
          .content .page__content .icons-services ul li:hover span {
            position: absolute;
            color: #FFFFFF;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.46px;
            font-size: 12px;
            padding: 10px;
            word-break: break-all;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 3;
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; }
    .content .page__content .services ul li {
      width: 25%;
      margin-right: 30px; }
      .content .page__content .services ul li h2 {
        position: relative;
        padding-bottom: 50px; }
    .content .page__content .we-offer ul li {
      width: 32%;
      border-radius: 10px;
      background-color: #E5EBF0; }
      .content .page__content .we-offer ul li img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px; }
      .content .page__content .we-offer ul li p {
        margin-bottom: 25px;
        margin-top: 20px; }
      .content .page__content .we-offer ul li .offer__text {
        padding: 30px; }
        .content .page__content .we-offer ul li .offer__text .offer__read-more a {
          color: #003F6F; }
          .content .page__content .we-offer ul li .offer__text .offer__read-more a h4 {
            position: relative; }
            .content .page__content .we-offer ul li .offer__text .offer__read-more a h4:before {
              content: '\f054';
              font-family: "Font Awesome 5 Free";
              font-weight: 600;
              font-size: 12px;
              color: #003F6F;
              position: absolute;
              bottom: 1px;
              left: 100px; }
        .content .page__content .we-offer ul li .offer__text ul li {
          width: 100%;
          font-size: 16px;
          line-height: 28px;
          color: #3A3A3A;
          margin: 0;
          position: relative; }
          .content .page__content .we-offer ul li .offer__text ul li:before {
            content: "\2022";
            color: #3A3A3A;
            font-weight: bold;
            display: inline-block;
            width: 1em; }
        .content .page__content .we-offer ul li .offer__text ol {
          list-style-position: inside;
          padding: 0; }
          .content .page__content .we-offer ul li .offer__text ol li {
            width: 100%;
            font-size: 16px;
            line-height: 28px;
            color: #3A3A3A;
            margin: 0;
            position: relative; }
    .content .page__content .dr-content .dr-inf li {
      width: 30%;
      text-align: center; }
      .content .page__content .dr-content .dr-inf li .dr-inf-content {
        margin: 0 10% 10% 10%; }
        .content .page__content .dr-content .dr-inf li .dr-inf-content h2 {
          margin-top: 25px; }
      .content .page__content .dr-content .dr-inf li .dr-table {
        background-color: #E5EBF0;
        border-radius: 10px;
        padding: 20px; }
        .content .page__content .dr-content .dr-inf li .dr-table ul li {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end;
          margin-bottom: 30px;
          border-bottom: solid #FFFFFF 1px; }
          .content .page__content .dr-content .dr-inf li .dr-table ul li p {
            color: #003F6F; }
    .content .page__content .reserve-termin a {
      font-weight: bold;
      letter-spacing: 0.36px;
      text-transform: uppercase;
      font-size: 12px;
      padding: 12px 35px;
      border-radius: 37px;
      border: solid 1px #003F6F; }
    .content .page__content .reserve-termin .termin-number {
      color: #FFFFFF;
      background-color: #003F6F;
      margin: 0 15px 0 30px; }
      .content .page__content .reserve-termin .termin-number:hover {
        color: #003F6F;
        background-color: #FFFFFF; }
    .content .page__content .reserve-termin .termin-online {
      color: #003F6F;
      background-color: #FFFFFF;
      margin: 0 15px; }
      .content .page__content .reserve-termin .termin-online:hover {
        color: #FFFFFF;
        background-color: #003F6F; }
    .content .page__content .ordination-information .text-left {
      margin-right: 12px; }
    .content .page__content .ordination-information .text-left img, .content .page__content .ordination-information .text-right img {
      width: auto; }
    .content .page__content .ordination-information .text-left ul li, .content .page__content .ordination-information .text-right ul li {
      position: relative;
      padding-left: 10px;
      margin: 15px 0;
      font-size: 16px;
      line-height: 28px;
      color: #6D6F72; }
      .content .page__content .ordination-information .text-left ul li:after, .content .page__content .ordination-information .text-right ul li:after {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        left: 0;
        top: 12px;
        border-radius: 100%;
        background-color: #003F6F; }
    .content .page__content .ordination-information .text-left h2, .content .page__content .ordination-information .text-right h2 {
      margin-top: 35px;
      margin-bottom: 30px; }
    .content .page__content .ordination-information .text-left img, .content .page__content .ordination-information .text-right img {
      margin-top: 45px; }
    .content .page__content .ordination-information .text-right {
      margin-left: 12px; }
    .content .page__content .services-health ul {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
      .content .page__content .services-health ul li {
        position: relative;
        width: 25%;
        margin-bottom: 75px;
        padding: 35px;
        border-radius: 10px;
        background-color: #E5EBF0; }
        .content .page__content .services-health ul li i {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: 0 auto;
          font-size: 30px;
          top: -50px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .content .page__content .services-health ul li i:before {
            background-color: #fff;
            border-radius: 50%;
            padding: 20px;
            display: table;
            color: #003F6F; }
        .content .page__content .services-health ul li h3 {
          word-wrap: break-word; }
    .content .page__content .services-health-posts ul li {
      margin-bottom: 120px; }
      .content .page__content .services-health-posts ul li img {
        width: 50%; }
      .content .page__content .services-health-posts ul li .health-posts-content {
        width: 40%; }
        .content .page__content .services-health-posts ul li .health-posts-content h2 {
          position: relative;
          padding-bottom: 50px; }
    .content .page__content .where-is-what h1:before {
      bottom: 0; }
    .content .page__content .contact .contact__content .contact__text {
      width: 30%;
      margin-right: 50px; }
      .content .page__content .contact .contact__content .contact__text a {
        color: #003F6F; }
    .content .page__content .contact .contact__icons img {
      width: 84px;
      height: 84px; }
    .content .page__content .contact .contact__icons ul .icons__container {
      width: 20.5%;
      margin-bottom: 50px;
      background-color: #E5EBF0;
      border-radius: 10px;
      padding: 15px;
      margin-right: 30px; }
      .content .page__content .contact .contact__icons ul .icons__container:nth-child(4n) {
        margin-right: 0; }
      .content .page__content .contact .contact__icons ul .icons__container .icons__text {
        margin-left: 20px; }
  .content .aktuelles section {
    width: 73%; }
    .content .aktuelles section .aktuelles__content {
      border-bottom: solid 1px #E5EBF0;
      padding-bottom: 50px;
      margin-bottom: 50px; }
      .content .aktuelles section .aktuelles__content .aktuelles__text {
        margin-left: 20px; }
        .content .aktuelles section .aktuelles__content .aktuelles__text h1, .content .aktuelles section .aktuelles__content .aktuelles__text h3 {
          margin-bottom: 10px; }
        .content .aktuelles section .aktuelles__content .aktuelles__text h1 {
          font-size: 30px;
          line-height: 40px; }
    .content .aktuelles section .aktuelles__pagination {
      text-align: center; }
      .content .aktuelles section .aktuelles__pagination a, .content .aktuelles section .aktuelles__pagination span {
        padding: 0 20px;
        font-size: 19px;
        color: #3A3A3A;
        line-height: 32px;
        margin: 0;
        font-weight: 400; }
      .content .aktuelles section .aktuelles__pagination i {
        font-size: 12px; }
      .content .aktuelles section .aktuelles__pagination .current {
        position: relative; }
        .content .aktuelles section .aktuelles__pagination .current:before {
          content: '';
          position: absolute;
          bottom: -5px;
          width: 70%;
          margin: 0 auto;
          left: 0;
          right: 0;
          background-color: #E82218;
          border-radius: 10px;
          height: 3px; }
  .content .aktuelles aside {
    width: 20%; }
    .content .aktuelles aside .aside__search {
      width: 100%;
      margin-bottom: 60px;
      position: relative; }
      .content .aktuelles aside .aside__search input {
        background-color: #E5EBF0;
        border: none;
        border-radius: 30px;
        width: 90%;
        padding: 12px;
        color: #6D6F72;
        font-size: 16px;
        line-height: 0.20px;
        position: relative;
        padding: 15px 10px 15px 15px; }
      .content .aktuelles aside .aside__search button {
        position: absolute;
        background: no-repeat;
        border: none;
        font-weight: 600;
        width: 20px;
        font-size: 16px;
        color: #003F6F;
        z-index: 1;
        right: 15px;
        top: 15px;
        cursor: pointer; }
    .content .aktuelles aside ul h2 {
      margin-bottom: 20px; }
    .content .aktuelles aside ul li a {
      font-size: 19px;
      color: #3A3A3A;
      line-height: 32px; }
      .content .aktuelles aside ul li a:hover {
        color: #E82218; }
  .content .aktuelles__single section {
    width: 73%; }
    .content .aktuelles__single section .single__text-content {
      padding-bottom: 45px;
      border-bottom: solid 1px #E5EBF0;
      margin-bottom: 20px; }
      .content .aktuelles__single section .single__text-content .single__quote {
        margin-top: 30px;
        margin-bottom: 30px;
        color: #003F6F;
        padding-left: 100px;
        padding-right: 100px;
        position: relative; }
        .content .aktuelles__single section .single__text-content .single__quote:before {
          content: '';
          position: absolute;
          bottom: 0;
          top: 0;
          margin: auto 0;
          right: 0;
          width: 40px;
          height: 4px;
          left: 0;
          background-color: #E82218;
          border-radius: 10px; }
        .content .aktuelles__single section .single__text-content .single__quote h3 {
          color: #003F6F; }
    .content .aktuelles__single section .single__maininf {
      margin-bottom: 15px; }
      .content .aktuelles__single section .single__maininf h3 {
        margin-bottom: 20px;
        margin-top: 38px; }
    .content .aktuelles__single section .single__tags span {
      font-size: 12px;
      color: #3A3A3A;
      margin-right: 15px; }
    .content .aktuelles__single section .single__tags a {
      padding: 5px 12px;
      border-radius: 16px;
      border: solid 1px #E5EBF0;
      color: #003F6F;
      margin: 0 7.5px;
      font-size: 12px; }
  .content .aktuelles__single aside {
    width: 23%; }
    .content .aktuelles__single aside .aside__search {
      width: 100%;
      margin-bottom: 60px;
      position: relative; }
      .content .aktuelles__single aside .aside__search input {
        background-color: #E5EBF0;
        border: none;
        border-radius: 30px;
        width: 90%;
        padding: 12px;
        color: #6D6F72;
        font-size: 16px;
        line-height: 0.20px;
        position: relative;
        padding: 15px 10px 15px 15px; }
      .content .aktuelles__single aside .aside__search button {
        position: absolute;
        background: no-repeat;
        border: none;
        font-weight: 600;
        width: 20px;
        font-size: 16px;
        color: #003F6F;
        z-index: 1;
        right: 15px;
        top: 15px;
        cursor: pointer; }
    .content .aktuelles__single aside ul h2 {
      margin-bottom: 20px; }
    .content .aktuelles__single aside ul li a {
      font-size: 19px;
      color: #3A3A3A;
      line-height: 32px; }
      .content .aktuelles__single aside ul li a:hover {
        color: #E82218; }
  .content .go-top {
    opacity: 0;
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    border: none;
    cursor: pointer;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    z-index: 100000;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff; }
    .content .go-top.is-active {
      z-index: 999;
      opacity: 1; }
    .content .go-top .arrow-up {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .content .go-top i {
      font-size: 35px;
      color: #003F6F; }

/*=============================================
=          Responsive               =
=============================================*/
@media screen and (max-width: 1200px) {
  .content .impressum {
    padding: 0 20px; }
  .content .line-div-top:before {
    left: 20px; }
  .content .page__content {
    padding: 0 20px; }
    .content .page__content .contact .contact__icons ul .icons__container {
      width: 19.5%; }
    .content .page__content .contact .contact__content {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
      .content .page__content .contact .contact__content .contact__text {
        margin-bottom: 30px; } }

@media screen and (max-width: 1160px) {
  .content {
    /*=============================================
		=           2. Blog - Aktuelles         	 =
		=============================================*/
    /*=============================================
		=           END:; 2. Blog - Aktuelles         =
		=============================================*/ }
    .content .aktuelles section {
      width: 73%; }
      .content .aktuelles section .aktuelles__content {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .content .aktuelles section .aktuelles__content .grid-50 {
          width: 100%; }
        .content .aktuelles section .aktuelles__content .aktuelles__text {
          margin-left: 0;
          margin-top: 20px; }
    .content .aktuelles aside {
      width: 24%; } }

@media screen and (max-width: 1024px) {
  .content .slider .slide__text {
    width: 40%; }
  .content .page__content .services ul {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
    .content .page__content .services ul li {
      width: 45%;
      margin-right: auto;
      margin-bottom: 50px; }
  .content .page__content .contact .contact__icons ul .icons__container {
    width: 28%;
    margin-right: 15px; }
    .content .page__content .contact .contact__icons ul .icons__container:nth-child(3n) {
      margin-right: 0; }
    .content .page__content .contact .contact__icons ul .icons__container:nth-child(4n) {
      margin-right: 15px; } }

@media screen and (max-width: 768px) {
  .content {
    /*=============================================
		=           2. Blog - Aktuelles         	 =
		=============================================*/
    /*=============================================
		=           END:; 2. Blog - Aktuelles         =
		=============================================*/ }
    .content .slider .slide__text {
      width: 50%; }
    .content .page__content .services-health ul li {
      width: 36%; }
    .content .page__content .dr-content .dr-inf li {
      width: 32%; }
    .content .page__content .icons-services ul li {
      width: 15%; }
    .content .page__content .services-health-posts ul li {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
      .content .page__content .services-health-posts ul li img {
        width: 100%; }
        .content .page__content .services-health-posts ul li img.order-1, .content .page__content .services-health-posts ul li img.order-0 {
          order: unset; }
      .content .page__content .services-health-posts ul li .health-posts-content {
        width: 100%;
        margin-top: 25px; }
    .content .page__content .contact .contact__content .contact__text {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      margin-right: 0; }
    .content .page__content .contact .contact__icons.m-top-100 {
      margin-top: 30px; }
    .content .page__content .contact .contact__icons ul .icons__container {
      width: 43%;
      margin-right: 0; }
      .content .page__content .contact .contact__icons ul .icons__container:nth-child(2n) {
        margin-right: 0;
        margin-left: 25px; }
      .content .page__content .contact .contact__icons ul .icons__container:nth-child(3n), .content .page__content .contact .contact__icons ul .icons__container:nth-child(4n) {
        margin-right: 0px; }
    .content .aktuelles, .content .aktuelles__single {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
      .content .aktuelles section .aktuelles__content, .content .aktuelles__single section .aktuelles__content {
        margin-bottom: 25px; }
      .content .aktuelles section .single__tags, .content .aktuelles__single section .single__tags {
        margin-bottom: 20px; }
      .content .aktuelles section .aktuelles__pagination, .content .aktuelles__single section .aktuelles__pagination {
        margin-bottom: 50px; }
      .content .aktuelles section .single__text-content .single__quote, .content .aktuelles__single section .single__text-content .single__quote {
        padding-left: 60px;
        padding-right: 0px; }
      .content .aktuelles aside .aside__search, .content .aktuelles__single aside .aside__search {
        width: 100%;
        margin: 0 auto; }
        .content .aktuelles aside .aside__search input, .content .aktuelles__single aside .aside__search input {
          width: 95%; }
      .content .aktuelles aside, .content .aktuelles section, .content .aktuelles__single aside, .content .aktuelles__single section {
        width: 100%; }
        .content .aktuelles aside .aside__search button, .content .aktuelles section .aside__search button, .content .aktuelles__single aside .aside__search button, .content .aktuelles__single section .aside__search button {
          right: 25px; } }

@media screen and (max-width: 680px) {
  .content .slider .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 30px !important; }
  .content .slider .swiper-slide {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .content .slider .slide__text {
    position: initial;
    width: 90%;
    padding: 50px 30px;
    margin-bottom: 20px; } }

@media screen and (max-width: 600px) {
  .content .aktuelles section .aktuelles__content .aktuelles__text h1 {
    font-size: 26px; }
  .content .description__page {
    padding: 65px 20px;
    text-align: left; }
    .content .description__page h1 {
      width: 100%; }
  .content .description-information .description-image {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .content .description-information .description-image .description-image__title {
      position: inherit;
      width: 90%;
      right: 0;
      padding: 15px; }
  .content .description-information .breadcrumb {
    padding: 40px 20px; }
    .content .description-information .breadcrumb p {
      line-height: inherit; }
  .content .impressum ul {
    margin: 20px 0 20px 0; }
  .content .page__content {
    margin-bottom: 50px;
    margin-top: 50px; }
    .content .page__content .services.m-bottom-100 {
      margin-bottom: 50px; }
    .content .page__content .we-offer ul {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
      .content .page__content .we-offer ul li {
        width: 100%;
        margin-right: auto;
        margin-bottom: 50px; }
        .content .page__content .we-offer ul li.landscape-50 {
          width: 100% !important; }
    .content .page__content .icons-services ul li {
      width: 42%;
      margin: 10px 10px 30px 10px;
      padding: 0; }
    .content .page__content .dr-content .dr-inf {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
      .content .page__content .dr-content .dr-inf li {
        margin-bottom: 60px;
        width: 100%; }
        .content .page__content .dr-content .dr-inf li .dr-inf-content {
          margin: 0 0 10% 0; }
    .content .page__content .reserve-termin {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .content .page__content .reserve-termin.m-bottom-100, .content .page__content .reserve-termin.m-top-100 {
        margin: 0 0 60px 0; }
      .content .page__content .reserve-termin .termin-number {
        margin: 15px 0; }
    .content .page__content .ordination-information {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .content .page__content .ordination-information .text-left, .content .page__content .ordination-information .text-right {
        margin: 0; }
        .content .page__content .ordination-information .text-left.grid-50, .content .page__content .ordination-information .text-right.grid-50 {
          width: 100%; }
    .content .page__content .services-health ul li {
      width: 100%;
      margin-bottom: 60px; }
    .content .page__content .where-is-what .where__text {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
    .content .page__content .where-is-what .m-bottom-100 {
      margin-bottom: 50px; }
    .content .page__content .where-is-what .grid-50, .content .page__content .where-is-what .grid-45 {
      width: 100%; }
    .content .page__content .where-is-what h1 {
      margin-bottom: 30px; }
    .content .page__content .contact .contact__icons ul .icons__container {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      margin-right: 0; }
      .content .page__content .contact .contact__icons ul .icons__container:nth-child(2n) {
        margin-right: 0;
        margin-left: 0; } }

@media screen and (max-width: 425px) {
  .content {
    /*=============================================
		=           2. Blog - Aktuelles         	 =
		=============================================*/ }
    .content .page__content .icons-services ul li:hover {
      background-color: unset; }
      .content .page__content .icons-services ul li:hover span {
        display: none; }
    .content .page__content .services ul li {
      width: 100%; }
    .content .aktuelles aside .aside__search button {
      right: 10px; }
    .content .aktuelles__single .single__quote {
      padding-left: 0; }
      .content .aktuelles__single .single__quote:before {
        bottom: -15px; } }

@media screen and (orientation: landscape) {
  .content .page__content .dr-content .dr-inf li.landscape-50 {
    width: 50%; } }

@media screen and (max-width: 360px) {
  .content h1 {
    font-size: 22px; }
  .content .page__content .dr-content .dr-inf li .dr-table ul li div:nth-child(2) {
    text-align: right; } }

@media screen and (max-width: 300px) {
  .content .description-information .breadcrumb p a {
    font-size: 14px; }
  .content .page__content .services-health ul li h3 {
    font-size: 16px; }
  .content .page__content .we-offer ul li .offer__text h2 {
    font-size: 17px; }
  .content .page__content .dr-content .dr-inf li .dr-table ul li div p {
    font-size: 14px; } }

/*=============================================
=           END: Responsive               =
=============================================*/
.content header .header__content {
  margin: 35px 0; }
  .content header .header__content .navgation {
    margin: 0; }
    .content header .header__content .navgation li {
      position: relative;
      margin-left: 45px; }
      .content header .header__content .navgation li .sub-menu li {
        margin-left: 0; }
      .content header .header__content .navgation li.current-menu-item a, .content header .header__content .navgation li.current_page_parent a, .content header .header__content .navgation li.current-menu-parent a {
        position: relative;
        color: #E82218;
        padding-bottom: 9px; }
        .content header .header__content .navgation li.current-menu-item a:after, .content header .header__content .navgation li.current_page_parent a:after, .content header .header__content .navgation li.current-menu-parent a:after {
          content: '';
          position: absolute;
          bottom: 0px;
          right: 0;
          width: 100%;
          height: 4px;
          left: 0;
          margin: 0 auto;
          background-color: #E82218;
          border-radius: 10px; }
        .content header .header__content .navgation li.current-menu-item a:before, .content header .header__content .navgation li.current_page_parent a:before, .content header .header__content .navgation li.current-menu-parent a:before {
          color: #E82218 !important; }
      .content header .header__content .navgation li.menu-item-has-children a {
        position: relative;
        padding-bottom: 9px; }
        .content header .header__content .navgation li.menu-item-has-children a:before {
          content: '\f078';
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
          font-size: 12px;
          color: #003F6F;
          position: absolute;
          top: 1px;
          right: -18px; }
        .content header .header__content .navgation li.menu-item-has-children a:hover:before {
          color: #E82218; }
      .content header .header__content .navgation li:last-child {
        margin-right: 0; }
      .content header .header__content .navgation li a {
        font-size: 12px;
        color: #003F6F;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.36px; }
        .content header .header__content .navgation li a:hover {
          color: #E82218; }
      .content header .header__content .navgation li .sub-menu {
        display: none; }
        .content header .header__content .navgation li .sub-menu a:before, .content header .header__content .navgation li .sub-menu a:after {
          display: none; }
      .content header .header__content .navgation li:hover {
        opacity: 1; }
        .content header .header__content .navgation li:hover .sub-menu {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          position: absolute;
          top: 27px;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 3;
          height: 100%; }
          .content header .header__content .navgation li:hover .sub-menu li {
            padding-right: 0;
            background-color: #FFFFFF;
            /* margin-bottom: 15px; */
            padding: 9px 15px; }
            .content header .header__content .navgation li:hover .sub-menu li:last-child {
              margin-bottom: 0; }
            .content header .header__content .navgation li:hover .sub-menu li a {
              font-size: 12px;
              color: #3A3A3A;
              line-height: 0.28px;
              font-weight: 600;
              margin-bottom: 15px;
              text-transform: none; }
              .content header .header__content .navgation li:hover .sub-menu li a:hover {
                color: #E82218; }
            .content header .header__content .navgation li:hover .sub-menu li.current_page_item a {
              color: #E82218; }
  .content header .header__content .res-dot {
    cursor: pointer;
    position: relative;
    z-index: 999;
    display: none; }
    .content header .header__content .res-dot .red-dots {
      right: 0;
      top: 0;
      display: none;
      position: absolute;
      margin: 0 auto; }

.content .canvas-bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  visibility: hidden;
  z-index: 1;
  overflow-x: hidden;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #E5EBF0;
  opacity: 0.6;
  z-index: 99; }

.content .responsive-nav {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  opacity: 1;
  width: 90vw;
  height: 100%;
  visibility: hidden;
  z-index: 1;
  overflow-x: hidden;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #FFFFFF;
  z-index: 99; }
  .content .responsive-nav .nav {
    margin-left: 30px;
    margin-top: 200px; }
    .content .responsive-nav .nav ul li {
      margin-bottom: 30px; }
      .content .responsive-nav .nav ul li.current-menu-item a, .content .responsive-nav .nav ul li.current_page_parent a, .content .responsive-nav .nav ul li.current-menu-parent a {
        position: relative;
        color: #E82218;
        padding-bottom: 9px; }
        .content .responsive-nav .nav ul li.current-menu-item a:after, .content .responsive-nav .nav ul li.current_page_parent a:after, .content .responsive-nav .nav ul li.current-menu-parent a:after {
          content: '';
          position: absolute;
          bottom: 0px;
          right: 0;
          width: 100%;
          height: 4px;
          left: 0;
          margin: 0 auto;
          background-color: #E82218;
          border-radius: 10px; }
        .content .responsive-nav .nav ul li.current-menu-item a:before, .content .responsive-nav .nav ul li.current_page_parent a:before, .content .responsive-nav .nav ul li.current-menu-parent a:before {
          content: '\f078';
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
          font-size: 12px;
          color: #003F6F;
          position: absolute;
          top: 1px;
          right: -18px; }
        .content .responsive-nav .nav ul li.current-menu-item a:before, .content .responsive-nav .nav ul li.current_page_parent a:before, .content .responsive-nav .nav ul li.current-menu-parent a:before {
          color: #E82218 !important;
          display: none; }
      .content .responsive-nav .nav ul li.menu-item-has-children a {
        position: relative;
        padding-bottom: 9px; }
        .content .responsive-nav .nav ul li.menu-item-has-children a:before {
          content: '\f078';
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
          font-size: 12px;
          color: #003F6F;
          position: absolute;
          top: 1px;
          right: -18px;
          display: block; }
        .content .responsive-nav .nav ul li.menu-item-has-children a:hover:before {
          color: #E82218; }
      .content .responsive-nav .nav ul li a {
        font-size: 12px;
        color: #003F6F;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.36px; }
        .content .responsive-nav .nav ul li a:hover {
          color: #E82218; }
      .content .responsive-nav .nav ul li .sub-menu {
        margin-top: 22px;
        margin-left: 10px;
        display: none;
        -webkit-transition: max-height 0.4s ease-in;
        transition: max-height 0.4s ease-in; }
        .content .responsive-nav .nav ul li .sub-menu li {
          margin-bottom: 10px; }
          .content .responsive-nav .nav ul li .sub-menu li a {
            color: #3A3A3A;
            font-weight: 600; }
            .content .responsive-nav .nav ul li .sub-menu li a:before, .content .responsive-nav .nav ul li .sub-menu li a:after {
              display: none; }
            .content .responsive-nav .nav ul li .sub-menu li a:hover {
              color: #E82218; }
          .content .responsive-nav .nav ul li .sub-menu li.current_page_item a {
            color: #E82218; }

.content .open-nav {
  visibility: visible;
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.scroll-none {
  overflow: hidden; }

@media screen and (max-width: 1200px) {
  .content header {
    padding: 0 10px; }
    .content header .header__content .navgation li {
      margin-left: 30px; }
  .content .page__content {
    padding: 0 20px; } }

@media screen and (max-width: 1024px) {
  .content header {
    padding: 0 30px; }
    .content header .header__content {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .content header .header__content .navgation {
        display: none; }
      .content header .header__content .res-dot {
        display: block; } }

footer {
  margin-bottom: 100px; }
  footer .footer__content section {
    padding-top: 100px; }
    footer .footer__content section .footer__inf {
      margin-right: 300px; }
      footer .footer__content section .footer__inf .inf {
        position: relative;
        padding-bottom: 50px; }
        footer .footer__content section .footer__inf .inf p, footer .footer__content section .footer__inf .inf a {
          color: #FFFFFF; }
    footer .footer__content section .footer__nav h2 {
      color: #FFFFFF; }
    footer .footer__content section .footer__nav ul li a {
      font-size: 12px;
      color: #FFFFFF;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.3px;
      line-height: 30px; }
      footer .footer__content section .footer__nav ul li a:hover {
        color: #6D6F72; }
    footer .footer__content section .footer__nav .footer__subnav ul {
      margin: 30px 0 0 0; }
      footer .footer__content section .footer__nav .footer__subnav ul:first-child {
        margin: 30px 40px 0 0; }
  footer .footer__content .footer__bottom {
    padding-bottom: 34px; }
    footer .footer__content .footer__bottom ul li {
      margin-left: 20px; }
      footer .footer__content .footer__bottom ul li:first-child {
        margin-left: 0; }
      footer .footer__content .footer__bottom ul li a {
        font-size: 12px;
        color: #FFFFFF;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.3px; }
        footer .footer__content .footer__bottom ul li a:hover {
          color: #6D6F72; }

@media screen and (max-width: 1200px) {
  footer {
    padding: 40px 20px 0; } }

@media screen and (max-width: 990px) {
  footer .footer__content section .footer__inf {
    margin-right: 100px; } }

@media screen and (max-width: 600px) {
  footer .footer__content section {
    padding: 50px 0 50px 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    footer .footer__content section .footer__inf {
      margin-right: 0; }
      footer .footer__content section .footer__inf img {
        width: auto; }
    footer .footer__content section .footer__nav .footer__subnav {
      margin-top: 30px;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      footer .footer__content section .footer__nav .footer__subnav ul {
        margin: 0 0 0 0; }
        footer .footer__content section .footer__nav .footer__subnav ul:first-child {
          margin: 0; }
  footer .footer__content .footer__bottom {
    position: relative; }
    footer .footer__content .footer__bottom:before {
      content: '';
      position: absolute;
      top: -20px;
      width: 40px;
      height: 4px;
      left: 0;
      background-color: #FFFFFF;
      border-radius: 10px; } }

.cc-banner .cc-message {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #6D6F72;
  margin: 0; }
  .cc-banner .cc-message a {
    text-decoration: none;
    color: #003F6F; }

.cc-theme-classic .cc-btn:last-child {
  color: #FFFFFF;
  background-color: #003F6F;
  margin: 0 30px;
  font-weight: bold;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 12px 35px;
  border-radius: 37px;
  border: solid 1px #003F6F; }
  .cc-theme-classic .cc-btn:last-child:hover {
    color: #003F6F;
    background-color: #fff; }

.page-404 {
  text-align: center;
  width: 710px;
  margin: 90px auto; }
  .page-404 h1 {
    margin-bottom: 30px; }
  .page-404 .h1-big-404 {
    font-size: 80px;
    letter-spacing: 1.2px;
    line-height: 45px;
    font-weight: bold;
    margin-bottom: 30px; }
  .page-404 .startsite-404 {
    margin-top: 20px; }
    .page-404 .startsite-404 a {
      position: relative;
      font-size: 12px;
      font-weight: bold;
      color: #003F6F;
      letter-spacing: 0.36px;
      text-transform: uppercase; }
      .page-404 .startsite-404 a:before {
        content: '\f054';
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 12px;
        color: #003F6F;
        position: absolute;
        top: 5px;
        left: 48px; }

@media screen and (max-width: 1200px) {
  .page-404 {
    padding: 0 20px;
    width: 90%; } }
